@import '~@angular/material/theming';

@include mat-core();

$my-theme-primary: mat-palette($mat-green, 500, 300, 600);
$my-theme-accent:  mat-palette($mat-grey, 200, 400, 500);

// The warn palette is optional (defaults to red).
$my-theme-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($my-theme);