<div class="data-table">
  <mat-table [dataSource]="tableData">
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef>
          {{data.columnsOptions[column].title}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element[column]}}
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>