<div *ngFor="let column of displayedColumns" class="filters">
  <div [ngSwitch]="columnsOptions[column].type">

    <ng-template ngSwitchCase="text">
      <mat-form-field class="filter-field">
        <input matInput [value]="filters[column] || ''" (keyup)="applyFilter(column, $event.target.value)" [placeholder]="columnsOptions[column].title">
        <button mat-buttton matSuffix mat-icon-button aria-label="Clear" (click)="onClear(column)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </ng-template>

    <ng-template ngSwitchCase="date">
      <mat-form-field class="filter-field">
        <input matInput [matDatepicker]="picker" placeholder="Дата" (dateChange)="applyFilter(column, $event.value)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </ng-template>

    <ng-template ngSwitchCase="select">
      <mat-form-field class="filter-field">
        <mat-select [value]="columnsOptions[column].options[0]" (selectionChange)="applyFilter(column, $event.value)"
          [placeholder]="columnsOptions[column].title">
          <mat-option *ngFor="let option of columnsOptions[column].options" [value]="option">{{option}} </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-template>
  </div>
</div>