<div *ngIf="currentItem; else Loading" class="card-content">
  <div class="card-title">
    <h5>{{cardTitle}}</h5>
    <button mat-raised-button color="primary" style="margin-right: 10px;" (click)="onLeftBtnClick()"
      [disabled]="isSaveDisabled()">
      {{getLeftButtonTitle()}}
    </button>
    <button mat-raised-button color="accent" (click)="onRightBtnClick()">
      {{getRightButtonTitle()}}
    </button>
  </div>

  <div class="card-fields">
    <div *ngFor="let field of getFields()" [ngClass]="{readonly: isReadonly(field)}">
      <div *ngIf="itemFields[field].type === 'text'">

        <mat-form-field *ngIf="field === 'email'" class="card-field">
          <input matInput [placeholder]="itemFields[field].title" (change)="onChange(field)"
            [formControl]="emailControl" [readonly]="isReadonly(field)">
          <mat-error *ngIf="emailControl.touched && emailControl.errors?.email">
            Неверное значение email
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="field === 'phone'" class="card-field">
          <input matInput [placeholder]="itemFields[field].title" (change)="onChange(field)"
            [formControl]="phoneControl" [readonly]="isReadonly(field)">
          <mat-error *ngIf="phoneControl.touched && phoneControl.errors?.pattern">
            Неверное значение телефона
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="field === 'inn'" class="card-field">
          <input matInput [placeholder]="itemFields[field].title" (change)="onChange(field)" [formControl]="innControl"
            [readonly]="isReadonly(field)" required>
          <mat-error *ngIf="getInnError()">
            {{innChangeError}}
          </mat-error>
          <mat-error *ngIf="innControl.touched && innControl.errors?.pattern">
            Неверное значение ИНН
          </mat-error>
          <mat-error *ngIf="innControl.touched && innControl.errors?.required">
            Введите ИНН
          </mat-error>


        </mat-form-field>

        <mat-form-field *ngIf="isNoValInput(field)" class="card-field">
          <input matInput [placeholder]="itemFields[field].title" [(ngModel)]="currentItem[field]"
            (change)="onChange(field)" [readonly]="isReadonly(field)">
        </mat-form-field>

      </div>

      <div *ngIf="itemFields[field].type === 'date' && shouldShowDate()">
        <mat-form-field class="card-field">
          <input matInput [placeholder]="itemFields[field].title" [value]="formatDate(currentItem[field])"
            [readonly]="true">
        </mat-form-field>
      </div>
      <div *ngIf="itemFields[field].type === 'select'">
        <div *ngIf="isViewMode(); else SelectInput">
          <mat-form-field class="card-field">
            <input *ngIf="isViewMode(); else SelectInput" matInput [placeholder]="itemFields[field].title"
              [value]="currentItem[field]" [readonly]="true">
          </mat-form-field>
        </div>
        <ng-template #SelectInput>
          <mat-form-field class="card-field">
            <mat-select [(ngModel)]="currentItem[field]" required #selectField="ngModel"
              [placeholder]="itemFields[field].title">
              <mat-option *ngFor="let option of itemFields[field].options" [value]="option">{{option}}</mat-option>
            </mat-select>
            <mat-error *ngIf="selectField.invalid &&selectField.errors?.required">
              Поле обязательно к заполнению
            </mat-error>
          </mat-form-field>
        </ng-template>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div *ngIf="shouldShowClientDistributors()">
    <div class="card-table">
      <div class="table-header">Дистрибьюторы</div>
      <app-client-distributors-table 
        [data]="currentItem.salesVolume || []" 
        [cardMode]="cardMode"
        (dataChangedEvent)="onSalesVolumeChange($event)"
      >
      </app-client-distributors-table>
    </div>
  </div>
  <div *ngIf="collectionsList" class="card-table">
    <div class="table-header">Коллекции</div>
    <app-card-table
      [data]="collectionsList"
    ></app-card-table
      >
  </div>
  <div *ngIf="usersList" class="card-table">
    <div class="table-header">Пользователи</div>
    <app-card-table
      [data]="usersList"
    ></app-card-table
      >
  </div>
</div>
<ng-template #Loading>
  <app-loading></app-loading>
</ng-template>