.card-content {
  /* margin-left: 10px; */
  height: 100%;
  overflow: auto;
}

.card-title {
  margin-left: 10px;
}

.card-fields {
  margin-left: 15px;
  margin-right: 20px;
  margin-top: 10px;
}

.card-field {
  width: 100%;
}

.readonly ::ng-deep .mat-form-field-underline {
  display: none;
}

.card-table {
  margin: 5px;
  margin-top: 0;

  overflow: auto;
  box-shadow: 0 0 15px grey;
}

.table-header {
    font-size: 1.2rem;
    /* background-color: lightgrey; */
    text-align: center;
    font-weight: 500;
}