<div *ngIf="data; else Loading" [ngStyle]="getStyle()">
  <div *ngIf="shouldShowTable()">
    <app-table-filters [displayedColumns]="displayedColumns" [columnsOptions]="columnsOptions" [filters]="filters"
      (filterEvent)="changeFilters($event)">
    </app-table-filters>
    <app-data-table 
      [data]="data" 
      [displayedColumns]="displayedColumns" 
      [columnsOptions]="columnsOptions"
      [filterValue]="filterValue" 
      [filters]="filters" 
      [cardOpened]="cardOpened" 
      (rowClickEvent)="onRowClick($event)"
    >
    </app-data-table>
  </div>
  <div *ngIf="cardOpened" [ngStyle]="getCardStyle()">
    <app-card 
      [cardMode]="cardMode" 
      [currentItem]="currentItem" 
      [itemFields]="itemFields" 
      [cardTitle]="'Клиент'"
      [collectionsList]="getCollections()"
      [innChangeError]="innChangeError"
      (leftBtnEvent)="onLeftButtonClick($event)" 
      (rightBtnEvent)="onRightButtonClick()"
      (innChangeEvent)="onInnChange($event)"
    ></app-card>
  </div>
  <div *ngIf="!cardOpened" [ngStyle]="getButtonsStyle()">
    <button mat-mini-fab color="primary" (click)="newItem()">
      <div style="font-size: 1.3rem;">+</div>
    </button>
    <button mat-mini-fab color="accent" style="margin-left: 5px;">
      <div style="font-size: 1.3rem; transform: rotate(0.25turn);">></div>
    </button>
    
  </div>

</div>
<ng-template #Loading>
  <app-loading></app-loading>
</ng-template>