<mat-grid-list cols="1" rowHeight="200px">
  <mat-grid-tile>
    <h1>Авторизация</h1>
  </mat-grid-tile>
  <mat-grid-tile>
    <form [formGroup]="userForm">
      <div class="form-container">
        <mat-form-field>
          <input matInput placeholder="Email" [formControl]="emailControl" required>
        </mat-form-field>
        <mat-error *ngIf="emailControl.touched && emailControl.errors?.required">
          Введите email
        </mat-error>
        <mat-error *ngIf="emailControl.touched && emailControl.errors?.email">
          Неверное значение email
        </mat-error>

        <mat-form-field>
          <input matInput placeholder="Пароль" type="password" [formControl]="passwordControl" required>
          <mat-error *ngIf="passwordControl.touched && passwordControl.errors?.required">
            Введите пароль
          </mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" (click)="loginUser($event)" [disabled]="userForm.invalid">Войти</button>
      </div>

    </form>
  </mat-grid-tile>
</mat-grid-list>