.mat-column-volumeFirstYear,
.mat-column-volumeSecondYear {
    min-width: 80px;
}

.mat-column-nameDistributor {
    min-width: 170px;
    max-width: 200px;
}

.data-table {
   min-width: 350px;
   max-width: 100%;
    margin: 0;
}

.mat-column-name {
    min-width: 200px;
    max-width: 400px;
    text-align: left;
}

.add-distributor {
    text-align: center;
    margin-top: 5px;
    padding-bottom: 5px;
}

.add-distributor-field {
    width: 20%;
    margin-right: 10px;
}

::ng-deep .cdk-overlay-pane {
    min-width: 300px;
}