<div class="data-table">
  <mat-table [dataSource]="tableData">
    <ng-container [matColumnDef]="'nameDistributor'">
      <mat-header-cell *matHeaderCellDef>
        Дистрибьютор
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a *ngIf="isNotLastRow(element) && isViewMode(); else PlainText" [routerLink]="getLink(element)">
          {{element.nameDistributor}}
        </a>
        <ng-template #PlainText>
          {{element.nameDistributor}}
        </ng-template>
      </mat-cell>
    </ng-container>

    <ng-container [matColumnDef]="'volumeFirstYear'">
      <mat-header-cell *matHeaderCellDef>
        Предыдущий год
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.volumeFirstYear}}
      </mat-cell>
    </ng-container>

    <ng-container [matColumnDef]="'volumeSecondYear'">
      <mat-header-cell *matHeaderCellDef>
        Текущий год
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.volumeSecondYear}}
      </mat-cell>
    </ng-container>

    <ng-container *ngIf="!isViewMode()" [matColumnDef]="'deleteItem'">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon *ngIf="isNotLastRow(element)" (click)="onItemDelete(element)" style="cursor: pointer;">delete</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<div *ngIf="!isViewMode() && distributorsList" class="add-distributor">
  <div *ngIf="isAddingNew">
    <form [formGroup]="distributorForm">
      <mat-form-field class="add-distributor-field">
        <input type="text" placeholder="Выберите дистрибьютора" aria-label="Distributor" matInput
          [formControl]="distributorControl" (optionSelected)="onSelect($event)" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionName">
          <mat-option *ngFor="let option of distributorsList" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="distributorControl.invalid && distributorControl.errors?.required">
          Выберите дистрибьютора
        </mat-error>
      </mat-form-field>
      <mat-form-field class="add-distributor-field">
        <input matInput type="number" placeholder="Предыдущий год" [formControl]="volumeFirstControl">
        <mat-error *ngIf="volumeFirstControl.errors?.min">
          Значение не может быть меньше 0
        </mat-error>
      </mat-form-field>
      <mat-form-field class="add-distributor-field">
        <input matInput type="number" placeholder="Текущий год" [formControl]="volumeSecondControl">
        <mat-error *ngIf="volumeSecondControl.errors?.min">
          Значение не может быть меньше 0
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <button *ngIf="!isAddingNew; else AddingButtons" mat-raised-button color="primary" (click)="onAddClick()">
    Добавить
  </button>
  <ng-template #AddingButtons>
    <button mat-raised-button 
      color="primary" 
      [disabled]="distributorForm.invalid" 
      (click)="onAddClick()"
      style="margin-right: 10px;"
    >Сохранить</button>
    <button mat-raised-button 
      color="secondary" 
      (click)="onDiscardClick()"
    >Отмена</button>
  </ng-template>

</div>