.data-table {
    margin-left: 10px;
    margin-right: 10px;
    height: 80vh;
    overflow: auto;
    background-color: white;    
}

.paginator {
    margin: 10px;
    margin-top: 0;
    /* width: 90%; */
}

/* .mat-row, .mat-header-row {
    width: 90vw;
} */

.mat-header-cell {
    justify-content: center;
}

.mat-column-name {
    min-width: 200px;
    max-width: 400px;
    text-align: left;
}

.mat-column-inn,
.mat-column-date,
.mat-column-email,
.mat-column-clientTypeString,
.mat-column-clientClassificationString {
    min-width: 100px;
}

.mat-column-phone,
.mat-column-mobilePhone,
.mat-column-contactPerson,
.mat-column-address {
    min-width: 50px;
}

.highlight {
    background-color: lightgray;
} 
