<div class="text-center">
  <!-- <div [ngStyle]="getTableStyle()"> -->
  <div class="data-table">
    <mat-table [dataSource]="listData" matSort>
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{columnsOptions[column].title}}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div *ngIf="isDate(column); then Date else Simple"></div>
          <ng-template #Simple>
            {{element[column]}}
          </ng-template>
          <ng-template #Date>
            {{element[column] | date:"dd.MM.yyyy" }}
          </ng-template>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)"
        [ngClass]="{ 'highlight': row.id === currentItemId && cardOpened}"></mat-row>

    </mat-table>

  </div>
  <mat-paginator class="paginator" [pageSizeOptions]="[5,10,15,20]" [pageSize]="15"></mat-paginator>
</div>
