<div class="sidenav">
  <mat-list style="padding-top: 0;">
    <img *ngIf="!sidenavSmall" src="../../assets/logo.png" width="95%"> 
    <button 
      mat-list-item 
      mat-button 
      style="width: 100%; height: 30px;"
      (click)="toggleNav()"
    >
    <div  *ngIf="sidenavSmall; then arrowRight else arrowLeft"></div>
    <ng-template #arrowLeft>
      <mat-icon style="float: right;">keyboard_arrow_left</mat-icon>
    </ng-template>
    <ng-template #arrowRight>
      <mat-icon style="float: left;">menu</mat-icon>
    </ng-template>
    </button>
    <mat-divider></mat-divider>
    <a mat-list-item 
      [routerLink]="['/clients']"
      class="nav-item"
      [ngClass]="{ active: isActive('/clients')}"
    >
      <mat-icon>people</mat-icon>
      <div *ngIf="!sidenavSmall">
        Клиенты
      </div>
    </a>
    <a mat-list-item 
      [routerLink]="['/tasks']"
      class="nav-item"
      [ngClass]="{ active: isActive('/tasks')}"
    >
      <mat-icon>inbox</mat-icon>
      <div *ngIf="!sidenavSmall">
        Заявки
      </div>
    </a>
    <a *ngIf="checkAccess('/distributors')" 
      mat-list-item 
      [routerLink]="['/distributors']"
      class="nav-item"
      [ngClass]="{ active: isActive('/distributors')}"
    >
      <mat-icon>assignment_ind</mat-icon>
      <div *ngIf="!sidenavSmall">
        Дистрибьюторы
      </div>
    </a>
    <a *ngIf="checkAccess('/classifications')"  
      mat-list-item 
      [routerLink]="['/classifications']"
      class="nav-item"
      [ngClass]="{ active: isActive('/classifications')}"
    >
      <mat-icon>class</mat-icon>
      <div *ngIf="!sidenavSmall">
        Классификации
      </div>
    </a>
    <a *ngIf="checkAccess('/collections')"  
      mat-list-item 
      [routerLink]="['/collections']"
      class="nav-item"
      [ngClass]="{ active: isActive('/collections')}"
    >
    <mat-icon>collections</mat-icon>
      <div *ngIf="!sidenavSmall">
        Коллекции
      </div>
    </a>
    <a *ngIf="checkAccess('/users')"  
      mat-list-item 
      [routerLink]="['/users']"
      class="nav-item"
      [ngClass]="{ active: isActive('/users')}"
    >
      <mat-icon>account_box</mat-icon>
      <div *ngIf="!sidenavSmall">
        Пользователи
      </div>
    </a>
    <mat-divider></mat-divider>
      <a mat-list-item class="nav-item" [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
        <div *ngIf="!sidenavSmall">Профиль</div>
      </a>
      <mat-menu class="sidebar-menu" #menu="matMenu">
        <button mat-menu-item>Мой профиль</button>
        <button mat-menu-item (click)="auth.logout()">Выход</button>
      </mat-menu>  
  </mat-list>
</div>