html {
  font-size: 14px;
}
/* @media (min-width: 768px) {
  html {
    font-size: 16px;
  }
} */

/* .sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
} */

.sidenav {
  left: 0;
  position: absolute;
}

.small-sidenav {
  width: 50px;
}
/* .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  display: block;
  transition: 0.3s;
} */
/* 
.sidenav a:hover {
  color: #f1f1f1;
} */
/*
@media screen and (max-height: 450px) {
  .sidenav { padding-top: 15px;}
   .sidenav a { font-size: 18px;} 
}*/
/* 
.sidebar-menu {
  background-color: grey;
} */

.nav-item {
  text-decoration: none;
  color: black;
}

a.nav-item:hover {
  background-color: lightgray;
}

a.nav-item.active {
  background-color: lightgray;
}

.nav-item div {
  margin-left: 5px;
}

.nav-item {
  font-size: 12pt;
  font-weight: normal;
}