@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

/* body, .theme-bg-color {
  background-color: rgba(211, 211, 211, 0.281);
} */

/*
 .sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
} 

.sidenav {
  display: flex;
  justify-content: center;
  width: 170px;
  overflow: hidden;
} 

.small {
  width: 50px;
} */
/* 
.sidenav-content {
  background-color: rgb(231, 231, 231); 
  height: 100vh;
  width: calc(100% - 170px);
  position: absolute;
  left: 170px;
}

.sidenav-content-wider {
  left: 50px;
  width: calc(100% - 50px);
} */
