<body>
  <div *ngIf="auth.isLoggedIn; else loginContent">
    <mat-sidenav-container [ngStyle]="getSidenavStyle()">
      <mat-sidenav #sidenav opened [mode]="mode.value" [ngStyle]="getSidenavContentStyle()">
        <app-nav-menu [sidenavSmall]="sidenavSmall" (toggleEvent)="toggleNav()"></app-nav-menu>
      </mat-sidenav>
    </mat-sidenav-container>
    <div [ngStyle]="getContentStyle()">
      <router-outlet></router-outlet>
    </div>
  </div>
  <ng-template #loginContent>
    <app-login-component></app-login-component>
  </ng-template>
</body>